In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

C:\Users\raymond.guo\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\raymond.guo\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\raymond.guo\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\raymond.guo\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [32]:
a = np.array(range(0,10)).reshape(-1,1)
b = np.array(range(10,20)).reshape(-1,1)

In [33]:
c = np.concatenate([a,b], axis = 1)
c

array([[ 0, 10],
       [ 1, 11],
       [ 2, 12],
       [ 3, 13],
       [ 4, 14],
       [ 5, 15],
       [ 6, 16],
       [ 7, 17],
       [ 8, 18],
       [ 9, 19]])

In [34]:
x1 = pd.DataFrame(c)

In [10]:
# y = 2x1 + x2

In [35]:
x2 = pd.DataFrame(np.concatenate([np.array(range(20,30)).reshape(-1,1), np.array(range(30,40)).reshape(-1,1)], axis=1))
x2

    0   1
0  20  30
1  21  31
2  22  32
3  23  33
4  24  34
5  25  35
6  26  36
7  27  37
8  28  38
9  29  39

In [31]:
y1 = pd.DataFrame(np.array(range(1,20,2)))
y2 = pd.DataFrame(np.array(range(11,30,2)))
y1

    0
0   1
1   3
2   5
3   7
4   9
5  11
6  13
7  15
8  17
9  19

In [36]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(10, input_shape = (2,), activation = 'relu'))
model.add(tf.keras.layers.Dense(15, activation = 'relu'))
model.add(tf.keras.layers.Dense(10, activation = 'relu'))
model.add(tf.keras.layers.Dense(1, activation='softmax'))
model.compile(optimizer = 'adam', loss = 'mse', metrics = ['acc'])

In [43]:
history = model.fit(x1.values,y1.values,epochs=10)

Train on 10 samples
Epoch 1/10
10/10 [==============================] - 0s 795us/sample - loss: 114.0000 - acc: 0.1000
Epoch 2/10
10/10 [==============================] - 0s 299us/sample - loss: 114.0000 - acc: 0.1000
Epoch 3/10
10/10 [==============================] - 0s 196us/sample - loss: 114.0000 - acc: 0.1000
Epoch 4/10
10/10 [==============================] - 0s 199us/sample - loss: 114.0000 - acc: 0.1000
Epoch 5/10
10/10 [==============================] - 0s 299us/sample - loss: 114.0000 - acc: 0.1000
Epoch 6/10
10/10 [==============================] - 0s 199us/sample - loss: 114.0000 - acc: 0.1000
Epoch 7/10
10/10 [==============================] - 0s 196us/sample - loss: 114.0000 - acc: 0.1000
Epoch 8/10
10/10 [==============================] - 0s 299us/sample - loss: 114.0000 - acc: 0.1000
Epoch 9/10
10/10 [==============================] - 0s 300us/sample - loss: 114.0000 - acc: 0.1000
Epoch 10/10
10/10 [==============================] - 0s 298us/sample - loss: 114.0000 - acc: 0.1000

In [42]:
history = model.fit(x2.values,y2.values,epochs=10)

Train on 10 samples
Epoch 1/10
10/10 [==============================] - 0s 800us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 2/10
10/10 [==============================] - 0s 195us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 3/10
10/10 [==============================] - 0s 196us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 4/10
10/10 [==============================] - 0s 199us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 5/10
10/10 [==============================] - 0s 300us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 6/10
10/10 [==============================] - 0s 197us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 7/10
10/10 [==============================] - 0s 199us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 8/10
10/10 [==============================] - 0s 299us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 9/10
10/10 [==============================] - 0s 299us/sample - loss: 394.0000 - acc: 0.0000e+00
Epoch 10/10
10/10 [==============================] - 0s 299us/sample - loss: 394.0000 - acc: 0.0000e+00